<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>注册界面</title>
</head>
<body>
<form action="http://127.0.0.1:3000/realregister">
    User Name:<input type="text" name="name"/>
    Password:<input type="password" name="password">
    <input type="submit" value="提交"/>
</form>
</body>
</html>